  @keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
      .container {
        width: 100%;
        height: 100vh;
        background-color: rgb(7, 7, 55);
        color:white;
       place-items: center;
       position: fixed;

      }

    .container2{
      font-size: 20px;
      place-items: center;
      align-items: center;
        animation: slideIn 2s ease-in-out ;;
     
    }

    .emojies {
      font-size: 55px;
      color: green;
      animation: slideIn 1.5s ease-in-out ;;
      font-family: Arial, Helvetica, sans-serif;
    }

    .rock-buttons,
     .paper-buttons,
      .scissors-buttons{
      height: 200px;
      width: 200px;
      font-size: 100px;
      border: solid 2px rgb(255, 0, 0);
      border-radius: 50%;
     
      background-color: rgb(53, 53, 188);
      
      
    }

    .rock-buttons:hover,
     .paper-buttons:hover,
      .scissors-buttons:hover{
        background-color: rgb(5, 5, 81);
        opacity: 0.4s;
        transition: 0.4s;
      }

        .rock-buttons:active,
     .paper-buttons:active,
      .scissors-buttons:active{
        background-color: rgb(4, 4, 92);
        opacity: 0.9;
        transition: 0.4s;

      }

     .remov-buttons{
        height: 200px;
      width: 200px;
      font-size: 100px;
      border: solid 2px rgb(203, 103, 103);
      border-radius: 50%;
     animation: slideIn 2.5s ease-in-out ;;
      background-color: rgb(17, 17, 86);
     }

     .remov-buttons:hover{
      background-color: rgb(47, 18, 111);
      opacity: 0.9;
      transition: 0.3s;
     }


     .remov-buttons:active{
      background-color: rgb(151, 10, 10);
      transition: 0.9s;
     }

     .result,
     .move,
     .score{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      animation: slideIn 2s ease-in-out ;
     }

     .author{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;
      animation: slideIn 3s ease-in-out ;;
     }