 .main-container {
      display: flex;
     }

     .pink-sec {
      background-color: lightpink;
      display: flex;
      align-items: center;
      height: 60px;
      width: 100px;
     }

     .blue-sec {
      background-color: lightblue;
      display: flex;
      height: 60px;
      width: 200px;
      justify-content: space-between;
     }

     .left-sec {
      flex-direction: column;
      display: flex;
      align-items: center;
     }

     .right-sec {
      display: flex;
      align-items: center;
      
     }

     .row2 {
      background-color: black;
      color: white;
     }