body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;padding-bottom: 20px; 
}

.big-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 490px;
  border: 1px solid rgb(115, 28, 255);
  border-radius: 16px;
  padding-top: 40px;

  align-items: center;
  column-gap: 10px;
box-shadow: inset 0px 1px 20px blue;
  justify-content: flex-start;/
}

.js-score,
.js-result,
.js-move{
  color: blue;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
 
  width: 100%;

}



.reset-btn {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgba(75, 78, 75, 0.499);
  box-shadow: inset 0px 1px 10px blue;
  bottom: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.reset-btn:hover {
  background-color: rgb(59, 55, 55);
  transition: 0.7s;
  box-shadow: 0px 1px 6px rgb(255, 213, 0);
  transform: scale(0.9);
}
.css{
  background-color: rgb(54, 52, 52);
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 40px;
  font-size: 12px;
  color: rgb(218, 219, 223);
  cursor: pointer;
  box-shadow: inset 0px 1px 6px rgb(105, 105, 222);
  
}
.png-rock1,
.png-scissors1,
.png-paper1{
  height:100px;
  width: 100px;
  border: none;
  background-color: rgba(128, 128, 128, 0);
    box-shadow:inset 0px 1px 6px rgb(57, 22, 173);
  border-radius: 50%;
}


.reset-btn:active {
  box-shadow: 0px 1px 8px rgb(255, 255, 255);
    box-shadow:inset 0px 1px 6px rgb(57, 22, 173);
  transform: scale(0.7);
}

.rock,
.paper,
.scisorss {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: rgba(33, 32, 32, 0.244);
  box-shadow:inset 0px 1px 6px rgb(57, 22, 173);
  cursor: pointer;
  border: none;
}

.rock:hover,
.paper:hover,
.scisorss:hover {
  background-color: rgb(8, 15, 116);
  transition: 0.7s;
  box-shadow: 0px 1px 6px rgba(60, 0, 255, 0.184);
  transform: scale(0.9);
}

.rock:active,
.paper:active,
.scisorss:active {
  box-shadow: 0px 1px 8px rgb(255, 255, 255);
  transform: scale(0.7);
}


.png-rock,
.png-paper,
.png-scisorss {

  height: 100%;
  width: 100%;
  border-radius: 50%;
}